.min-height{
    min-height: 100vh;
}

.height{
    min-height: 100vh;
    max-height: 100vh;
}

/* bootstrap grid breakpoints
576 sm
768 md
992 lg
1200 xl*/
/* personal sidebar css */
.sidebar{
    position: relative;
    width: inherit;
}
@media only screen and (min-width : 992px) {
    .sidebar {
        position: fixed;
    }
}

/* sets all standard font style from index.html google fonts import */
body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
/* custom text font classes */
.tLight{
    font-weight: 300;
}
.tMedium{
    font-weight: 500;
}
.tHeavy{
    font-weight: 700;
    font-size: large;
}
.tBold{
    font-weight: 900;
    font-size: x-large;
}
.tItalic{
    font-weight: 500;
    font-style: italic;
}


.customShadow{
    box-shadow:#6366f1;
}


/* custom color themes, following a dark to light color gradient*/
.textColor1{
    color: #131022;
}
.textColor2{
    color: #1f1c2d;
}
.textColor3{
    color: #2a2838;
}
.textColor4{
    color: #6366f1;
}
.textColor5{
    color: #f3f6ff;
}
.textColor6{
    color: #ffffff;
}

.backgroundColor1{
    background-color: #131022;
}
.backgroundColor2{
    background-color: #1f1c2d;
}
.backgroundColor3{
    background-color: #2a2838;
}
.backgroundColor4{
    background-color: #6366f1;
}
.backgroundColor5{
    background-color: #f3f6ff;
}
.backgroundColor6{
    background-color: #ffffff;
}